.nav1{
    background-color: #333;
  color: white;
}
.nav1 ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 10px 20px;
  }
.logo{
    width: 40px;
   height: auto;
}
a:hover {
    color: #ffc107;
  }